# python ignores, based on github's .gitignore for python
*.py[cod]
*.log

# IDE and editors
# * Eclipse
.cproject
.project
.settings

# * VIm
*~
*.sw[nop]
Session.vim
Sessionx.vim

# * patch
*.orig
*.rej

# Files created by git mergetool
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# CTAGS
tags
TAGS

# VSCode
.history/
highlight.css

# PyCharm
.idea/

# pytest
.cache/

# Ignore Android.bp files, these conflict with AOSP builds.
Android.bp


# Files created by tests
tests/build*
build-*

# Bazel
bazel-*
