# python ignores, based on github's .gitignore for python
*.py[cod]
*.log

# IDE and editors
# * Eclipse
.cproject
.project
.settings

# * VIm
*~
*.sw[nop]

# * patch
*.orig
*.rej

# Files created by git mergetool
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# CTAGS
tags
TAGS

# VSCode
.history/
.vscode
highlight.css

# PyCharm
.idea/

# pytest
.cache/

# Ignore Android.bp files - these should not be committed directly, because
# they should be symlinks to build.bp files which can be deleted to allow using
# the Android.mk backend
Android.bp
