# CONFIG_ANDROID is not set [by user]
CONFIG_LINUX=y # set by user (cmd_line)
# CONFIG_OSX is not set [by user]
# CONFIG_WINDOWS is not set [by user]
# CONFIG_FUCHSIA is not set [by user]
CONFIG_BUILDER_NINJA=y
CONFIG_NOT_OSX=y
CONFIG_NOT_BUILDER_ANDROID_BP=y

#
# Toolchain Options
#
CONFIG_TARGET_TOOLCHAIN_GNU=y
# CONFIG_TARGET_TOOLCHAIN_CLANG is not set
# CONFIG_TARGET_TOOLCHAIN_ARMCLANG is not set
# CONFIG_TARGET_TOOLCHAIN_XCODE is not set
# CONFIG_HOST_TOOLCHAIN_CLANG is not set
CONFIG_HOST_TOOLCHAIN_GNU=y
# CONFIG_HOST_TOOLCHAIN_ARMCLANG is not set
# CONFIG_HOST_TOOLCHAIN_XCODE is not set
CONFIG_TARGET_GNU_PREFIX=""
CONFIG_TARGET_GNU_FLAGS=""
CONFIG_TARGET_CLANG_PREFIX=""
CONFIG_TARGET_CLANG_CC_BINARY="clang"
CONFIG_TARGET_CLANG_CXX_BINARY="clang++"
CONFIG_TARGET_ARMCLANG_PREFIX=""
CONFIG_TARGET_ARMCLANG_CC_BINARY="armclang"
CONFIG_TARGET_ARMCLANG_CXX_BINARY="armclang"
CONFIG_TARGET_XCODE_PREFIX=""
CONFIG_TARGET_ARMCLANG_FLAGS=""
CONFIG_TARGET_SYSROOT=""
CONFIG_TARGET_GNU_CC_BINARY="gcc"
CONFIG_TARGET_GNU_CXX_BINARY="g++"
CONFIG_TARGET_OBJCOPY_BINARY="objcopy"
CONFIG_TARGET_OBJDUMP_BINARY="objdump"
CONFIG_TARGET_AR_BINARY="ar"
CONFIG_HOST_GNU_PREFIX=""
CONFIG_HOST_GNU_CC_BINARY="gcc"
CONFIG_HOST_GNU_CXX_BINARY="g++"
CONFIG_HOST_CLANG_PREFIX=""
CONFIG_HOST_CLANG_CC_BINARY="clang"
CONFIG_HOST_CLANG_CXX_BINARY="clang++"
CONFIG_HOST_ARMCLANG_PREFIX=""
CONFIG_HOST_ARMCLANG_CC_BINARY="armclang"
CONFIG_HOST_ARMCLANG_CXX_BINARY="armclang"
CONFIG_HOST_XCODE_PREFIX=""
CONFIG_HOST_ARMCLANG_FLAGS=""
CONFIG_HOST_GNU_FLAGS=""
CONFIG_HOST_CLANG_TRIPLE=""
CONFIG_HOST_XCODE_TRIPLE=""
CONFIG_HOST_SYSROOT=""
CONFIG_HOST_OBJCOPY_BINARY="objcopy"
CONFIG_HOST_OBJDUMP_BINARY="objdump"
CONFIG_HOST_AR_BINARY="ar"

#
# Toolchain binary names
#
CONFIG_AS_BINARY="as"
CONFIG_PKG_CONFIG_BINARY="pkg-config"
CONFIG_ARMCLANG_LD_BINARY="armlink"
CONFIG_ARMCLANG_AS_BINARY="armasm"
CONFIG_ARMCLANG_AR_BINARY="armar"

#
# Host explore options
#
CONFIG_EXTRA_LD_LIBRARY_PATH=""

#
# pkg-config configuration
#
CONFIG_PKG_CONFIG=y
CONFIG_PKG_CONFIG_FLAGS=""
CONFIG_PKG_CONFIG_PACKAGES="zlib"
CONFIG_PKG_CONFIG_SYSROOT_DIR=""
CONFIG_PKG_CONFIG_PATH=""
CONFIG_ZLIB_CFLAGS=""
CONFIG_ZLIB_LDFLAGS=""
CONFIG_ZLIB_LDLIBS="-lz" # set by user
CONFIG_ALLOW_HOST_EXPLORE=y
CONFIG_DEBUG=y
# CONFIG_NDEBUG is not set
CONFIG_ALWAYS_ENABLED_FEATURE=y
CONFIG_TEMPLATE_TEST_VALUE=6
# CONFIG_STATIC_LIB_TOGGLE is not set
CONFIG_GEN_CC="gcc"
CONFIG_GEN_AR="ar"
CONFIG_KERNEL_CC=""
CONFIG_KERNEL_CLANG_TRIPLE=""
