CONFIG_ANDROID=y # set by user (cmd_line)
# CONFIG_LINUX is not set [by user]
# CONFIG_OSX is not set [by user]
# CONFIG_WINDOWS is not set [by user]
# CONFIG_FUCHSIA is not set [by user]
# CONFIG_BUILDER_ANDROID_BP is not set [by user]
CONFIG_BUILDER_ANDROID_NINJA=y # set by user (cmd_line)
# CONFIG_BUILDER_NINJA is not set [by user]
CONFIG_ANDROID_PLATFORM_VERSION=16 # set by user (cmd_line)

#
# Toolchain Options
#
# CONFIG_TARGET_TOOLCHAIN_GNU is not set
CONFIG_TARGET_TOOLCHAIN_CLANG=y
# CONFIG_TARGET_TOOLCHAIN_ARMCLANG is not set
# CONFIG_TARGET_TOOLCHAIN_XCODE is not set
CONFIG_HOST_TOOLCHAIN_CLANG=y
# CONFIG_HOST_TOOLCHAIN_GNU is not set
# CONFIG_HOST_TOOLCHAIN_ARMCLANG is not set
# CONFIG_HOST_TOOLCHAIN_XCODE is not set
CONFIG_TARGET_GNU_PREFIX=""
CONFIG_TARGET_GNU_FLAGS=""
CONFIG_TARGET_CLANG_TRIPLE="x86_64-linux-gnu"
# CONFIG_TARGET_64BIT_ONLY is not set
CONFIG_TARGET_CLANG_PREFIX="prebuilts/clang/host/linux-x86/clang-r522817/bin/"
CONFIG_TARGET_CLANG_CC_BINARY="clang"
CONFIG_TARGET_CLANG_CXX_BINARY="clang++"
CONFIG_TARGET_ARMCLANG_PREFIX=""
CONFIG_TARGET_ARMCLANG_CC_BINARY="armclang"
CONFIG_TARGET_ARMCLANG_CXX_BINARY="armclang"
CONFIG_TARGET_XCODE_PREFIX=""
CONFIG_TARGET_ARMCLANG_FLAGS=""
CONFIG_TARGET_SYSROOT=""
CONFIG_TARGET_GNU_CC_BINARY="gcc"
CONFIG_TARGET_GNU_CXX_BINARY="g++"
CONFIG_TARGET_CLANG_STL_LIBRARY=""
CONFIG_TARGET_CLANG_COMPILER_RUNTIME=""
# CONFIG_TARGET_CLANG_USE_GNU_CRT is not set
# CONFIG_TARGET_CLANG_USE_GNU_BINUTILS is not set
CONFIG_TARGET_OBJCOPY_BINARY="llvm-objcopy"
CONFIG_TARGET_OBJDUMP_BINARY="llvm-objdump"
CONFIG_TARGET_AR_BINARY="ar"
# CONFIG_HOST_64BIT_ONLY is not set
CONFIG_HOST_GNU_PREFIX="prebuilts/gcc/linux-x86/x86/x86_64-linux-android-4.9/bin/x86_64-linux-android-"
CONFIG_HOST_GNU_CC_BINARY="gcc"
CONFIG_HOST_GNU_CXX_BINARY="g++"
CONFIG_HOST_CLANG_PREFIX="prebuilts/clang/host/linux-x86/clang-r522817/bin/"
CONFIG_HOST_CLANG_CC_BINARY="clang"
CONFIG_HOST_CLANG_CXX_BINARY="clang++"
CONFIG_HOST_ARMCLANG_PREFIX=""
CONFIG_HOST_ARMCLANG_CC_BINARY="armclang"
CONFIG_HOST_ARMCLANG_CXX_BINARY="armclang"
CONFIG_HOST_XCODE_PREFIX=""
CONFIG_HOST_ARMCLANG_FLAGS=""
CONFIG_HOST_GNU_FLAGS=""
CONFIG_HOST_CLANG_TRIPLE=""
CONFIG_HOST_XCODE_TRIPLE=""
CONFIG_HOST_SYSROOT=""
CONFIG_HOST_CLANG_STL_LIBRARY=""
CONFIG_HOST_CLANG_COMPILER_RUNTIME=""
# CONFIG_HOST_CLANG_USE_GNU_CRT is not set
# CONFIG_HOST_CLANG_USE_GNU_BINUTILS is not set
CONFIG_HOST_OBJCOPY_BINARY="llvm-objcopy"
CONFIG_HOST_OBJDUMP_BINARY="llvm-objdump"
CONFIG_HOST_AR_BINARY="ar"

#
# Toolchain binary names
#
CONFIG_AS_BINARY="as"
CONFIG_PKG_CONFIG_BINARY="pkg-config"
CONFIG_ARMCLANG_LD_BINARY="armlink"
CONFIG_ARMCLANG_AS_BINARY="armasm"
CONFIG_ARMCLANG_AR_BINARY="armar"

#
# Host explore options
#
CONFIG_EXTRA_LD_LIBRARY_PATH=""

#
# pkg-config configuration
#
# CONFIG_PKG_CONFIG is not set
CONFIG_ALLOW_HOST_EXPLORE=y
CONFIG_ANDROID_BUILD_TOP="/android" # set by user (cmd_line)
CONFIG_ALWAYS_ENABLED_FEATURE=y
CONFIG_GEN_CC="gcc"
CONFIG_GEN_AR="ar"
CONFIG_KERNEL_CC=""
CONFIG_KERNEL_CLANG_TRIPLE=""
CONFIG_TAG_OWNER="baz"
